# Django #
*.log
*.pot
*.pyc
__pycache__

# Python # 
*$py.class 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/
.coverage 
.coverage.* 
.cache 
.pytest_cache/
