{% extends 'base.html' %}
{% block title %} {% if category %} {{ category.name}} {% endif %} {% endblock  %}

{% block content %}

<main>
  <div class="container">
    <div class="row">
      <div class="album py-5">
        <div class="pb-3">
          <h1 class="h3"> All {{category.name|title}} Products </h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 mb-3 text-center">
          {% for product in products %}
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <a href="{{product.get_absolute_url}}">
                  <h4 class="my-0 fw-normal"> {{ product.title}} </h4>
                </a>
              </div>
              <div class="card-body">
                <img class="img-fluid" alt="{{ product.title}}" src="{{ product.image.url}}" width="650" height="350">
                <div class="list-unstyled mt-3 mb-4">
                  <p>
                    {{product.description}}
                  </p>
                </div>
                <h1 class="card-title pricing-card-title">${{product.price}}</h1>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock  %}